{% extends 'team/base.html' %}
{% load static %}

{% block title %}
    Create Banner | AH Hospital
{% endblock title %}

{% block content %}
<div class="content">

    {% if form.errors %}
    <div class="alert alert-danger">
        <p>Please correct the errors below:</p>
        <ul>
        {% for field in form %}
            {% if field.errors %}
                <li>{{ field.label }}: {{ field.errors|striptags }}</li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
{% endif %}

    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'media_banners' %}">Banners </a></li>
                    <li class="breadcrumb-item"><i class="feather-chevron-right"></i></li>
                    <li class="breadcrumb-item active">Add Banner</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <div class="form-heading">
                                    <h4>Banner Details</h4>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="input-block local-forms">
                                    <label>Heading <span class="login-danger">*</span></label>
                                    {{ form.heading }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="input-block local-forms">
                                    <label>Description <span class="login-danger">*</span></label>
                                    {{ form.description }}
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="input-block local-forms">
                                    <label>Button Text <span class="login-danger">*</span></label>
                                    {{ form.button_text }}
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="input-block local-forms">
                                    <label>Button Link <span class="login-danger">*</span></label>
                                    {{ form.button_url }}
                                </div>
                            </div>

                           <div class="col-md-4 mb-5 col-12">
                                <label class="label__banner">Desktop Banner <span class="login-danger">*</span></label>
                                <img class="img__preview" id="img-preview-1" src="{% static 'img/icons/upload.png' %}"/>
                                <div>
                                    {{form.image_for_desktop}}
                                </div>
                           </div>
                           <div class="col-md-4 mb-5 col-12 d-flex flex-column">
                                <label class="label__banner">Mobile Banner <span class="login-danger">*</span></label>
                                <img style="width: 300px" class="img__preview" id="img-preview-2" src="{% static 'img/icons/upload.png' %}"/>
                                <div>
                                    {{form.image_for_mobile}}
                                </div>
                           </div>

                            <div class="form-group col-12 col-md-6 col-xl-6">
                                <div class="input-block select-gender">
                                    <label class="gen-label">Status <span class="login-danger">*</span></label>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" name="status" id="id_status" required value="True" class="form-check-input mt-0"
                                                {% if form.status.value == 'True' %}checked{% endif %}/> Active
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" name="status" id="id_status" required value="False" class="form-check-input mt-0"
                                                {% if form.status.value == 'False' %}checked{% endif %}/> Inactive
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="doctor-submit text-end">
                                    <button type="submit" class="btn btn-primary submit-form me-2">Submit</button>
                                    <a href="{% url 'media_banners' %}" class="btn btn-secondary cancel-form">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>







{% endblock content %}

{% block script %}
    <script>
        document.querySelector('.banner_sidebar').classList.add('active')
        document.querySelector('.add_banner_txt').classList.add('active')
    </script>

    <script>
        //Change this to your no-image file
        let noimage =
        "{% static 'img/icons/upload.png' %}";

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                $("#img-preview-1").attr("src", e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            } else {
                $("#img-preview-1").attr("src", noimage);
            }
        }

    </script>
    <script>

        function readURL2(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                $("#img-preview-2").attr("src", e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            } else {
                $("#img-preview-2").attr("src", noimage);
            }
        }

    </script>



{% endblock script %}
