{% extends 'team/base.html' %}

{% load static %}


{% block title %}
    Update Health checkup plans | AH Hospital
{% endblock title %}
    


{% block content %}
<div class="content">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'media_health_checkup_plans' %}">Health Checkup </a></li>
                    <li class="breadcrumb-item"><i class="feather-chevron-right"></i></li>
                    <li class="breadcrumb-item active">Update Health Checkup Plan</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <div class="form-heading">
                                    <h4>Add Health Checkup Plan </h4>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-block local-forms">
                                    <label>Plan Title <span class="login-danger">*</span></label>
                                    {{ form.title }}
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="input-block local-forms">
                                    <label>Total Test Include<span class="login-danger">*</span></label>
                                    {{ form.total_test_include }}
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="input-block local-forms">
                                    <label>Plan Price <span class="login-danger">*</span></label>
                                    {{ form.price }}
                                </div>
                            </div>

                            <div class="col-md-6"></div>



                            <div class="col-md-6 mb-3 col-12">
                                <label class="label__banner">Plan Image <span class="login-danger">*</span></label>
                                <img class="img__preview" id="img-preview" src="{{plan.image.url}}"/>
                                <div>
                                    {{form.image}}
                                </div>
                            </div>
                            
                            <div class="col-md-12">
                                <label class="label__banner">Plan Description <span class="login-danger">*</span></label>
                                <div>
                                    {{form.description}}
                                </div>
                            </div>
                           

                            <div class="form-group col-12 col-md-6 col-xl-6 mt-3">
                                <div class="input-block select-gender">
                                    <label class="gen-label">Status <span class="login-danger">*</span></label>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" name="status" id="id_status" required value="True" class="form-check-input mt-0"
                                                {% if form.status.value == 'True' %}checked{% endif %}/> Active
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" name="status" id="id_status" required value="False" class="form-check-input mt-0"
                                                {% if form.status.value == 'False' %}checked{% endif %}/> Inactive
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="doctor-submit text-end">
                                    <button type="submit" class="btn btn-primary submit-form me-2">Submit</button>
                                    <a href="{% url 'media_health_checkup_plans' %}" class="btn btn-secondary cancel-form">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
    


{% block script %}
    <script>
        document.querySelector('.health_checkup_sidebar').classList.add('active')
        document.querySelector('.add_health_checkup_txt').classList.add('active')
        document.querySelector('#id_image').removeAttribute('required')

    </script>



    <script>
        //Change this to your no-image file
        let noimage =
        "{{plan.image.url}}";

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                $("#img-preview").attr("src", e.target.result);
                };

                reader.readAsDataURL(input.files[0]);


            } else {
                $("#img-preview").attr("src", noimage);
            }
        }

        var imgElement = document.getElementById('img-preview');
        imgElement.classList.add('object-contain');



    </script>



    

{% endblock script %}