{% extends 'backend/base.html' %}
{% load static %}

{% block title %}
    Update Blog | AH Hospital
{% endblock title %}

{% block content %}
<div class="content">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Blog </a></li>
                    <li class="breadcrumb-item"><i class="feather-chevron-right"></i></li>
                    <li class="breadcrumb-item active">Update Blog</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row blog_____area">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <div class="form-heading">
                                    <h4>Blog Details</h4>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-6">
                                <div class="input-block local-forms">
                                    <label>Blog Title <span class="login-danger">*</span></label>
                                    {{form.heading}}
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-6">
                                <div class="input-block local-forms">
                                    <label>Author Name <span class="login-danger">*</span></label>
                                    {{form.author}}
                                </div>
                            </div>


                            <div class="col-12 col-md-6 col-xl-6">
                                <div class="input-block local-forms">
                                    <label>Author Designation <span class="login-danger">*</span></label>
                                    {{form.author_designation}}
                                </div>
                            </div>

                            <div class="col-12 col-md-6 col-xl-6">
                                <div class="input-block local-forms">
                                    <label>Blog Category <span class="login-danger">*</span></label>
                                    {{form.category}}
                                </div>
                            </div>

                            
                            <div class="col-12 col-md-6 col-xl-6">
                                <div class="input-block local-forms">
                                    <label>Tags <small>(separated with a comma)</small> <span class="login-danger">*</span></label>
                                    {{form.tags}}
                                </div>
                            </div>

                            <div class="form-group col-12 col-md-6 col-xl-6">
                                <div class="input-block select-gender">
                                    <label class="gen-label">Status <span class="login-danger">*</span></label>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" name="status" id="id_status" required value="True" class="form-check-input mt-0"
                                                {% if form.status.value == True %}checked{% endif %}/> Active
                                        </label>
                                    </div>
                                    
                                        
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" name="status" id="id_status" required value="False" class="form-check-input mt-0"
                                                {% if form.status.value == False %}checked{% endif %}/> Inactive
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 mb-3 col-12">
                                <label class="label__banner">Banner Image <span class="login-danger">*</span></label>
                                <img class="img__preview" id="img-preview" src="{{blog.image.url}}"/>
                                <div>
                                    {{form.image}}
                                </div>
                            </div>

                            <div class="col-12 col-md-12 col-xl-12 mt-2">
                                <div class="input-block local-forms">
                                    <label>Blog Content <span class="login-danger">*</span></label>
                                    {{form.content}}
                                </div>
                            </div>

                            <div class="col-12 col-md-12 col-xl-12 mt-2">
                                <div class="input-block local-forms">
                                    {{form.show_on_homepage}}
                                    <span style="font-size: 12px; margin-left: 5px;">Show On Home Page</span>
                                </div>
                            </div>

                            <div class="col-12 col-md-12 col-xl-12 mt-2">
                                <div class="input-block local-forms">
                                    <label>Slug<span class="login-danger">*</span></label>
                                    {{form.slug}}
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="doctor-submit text-end">
                                    <button type="submit" class="btn btn-primary submit-form me-2">Publish Blog</button>
                                    <a href="{% url 'blogs' %}"><button type="button" class="btn btn-primary cancel-form">Cancel</button></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    document.querySelector('.blogs_sidebar').classList.add('active')
    document.querySelector('.add_blog_txt').classList.add('active')
</script>

<script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>



<script>
    // Change this to your no-image file
    document.getElementById('id_image').removeAttribute('required')
    let noimage = "{{blog.image.url}}";

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById("img-preview").setAttribute("src", e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        } else {
            document.getElementById("img-preview").setAttribute("src", noimage);
        }
    }

    var imgElement = document.getElementById('img-preview');
    imgElement.classList.add('object-contain');
</script>

<script>
    (function () {
        "use strict";

        // Plugin Constructor
        var TagsInput = function (opts) {
            this.options = Object.assign({}, TagsInput.defaults, opts);
            this.init();
        };

        // Initialize the plugin
        TagsInput.prototype.init = function (opts) {
            this.options = opts ? Object.assign(this.options, opts) : this.options;

            if (this.initialized) this.destroy();

            if (!(this.original_input = document.querySelector(this.options.selector))) {
                console.error("tags-input couldn't find an element with the specified ID");
                return this;
            }

            this.arr = [];
            this.wrapper = document.createElement("div");
            this.input = document.createElement("input");
            init(this);
            initEvents(this);

            this.initialized = true;
            return this;
        };

        // Add Tags
        TagsInput.prototype.addTag = function (string) {
            if (this.anyErrors(string)) return;

            this.arr.push(string);
            var tagInput = this;

            var tag = document.createElement("span");
            tag.className = this.options.tagClass;
            tag.innerText = string;

            var closeIcon = document.createElement("a");
            closeIcon.innerHTML = "&times;";

            // delete the tag when icon is clicked
            closeIcon.addEventListener("click", function (e) {
                e.preventDefault();
                var tag = this.parentNode;

                for (var i = 0; i < tagInput.wrapper.childNodes.length; i++) {
                    if (tagInput.wrapper.childNodes[i] == tag) tagInput.deleteTag(tag, i);
                }
            });

            tag.appendChild(closeIcon);
            this.wrapper.insertBefore(tag, this.input);
            this.original_input.value = this.arr.join(",");

            return this;
        };

        // Delete Tags
        TagsInput.prototype.deleteTag = function (tag, i) {
            tag.remove();
            this.arr.splice(i, 1);
            this.original_input.value = this.arr.join(",");
            return this;
        };

        // Make sure input string have no error with the plugin
        TagsInput.prototype.anyErrors = function (string) {
            if (this.options.max != null && this.arr.length >= this.options.max) {
                console.log("max tags limit reached");
                return true;
            }

            if (!this.options.duplicate && this.arr.indexOf(string) != -1) {
                console.log('duplicate found " ' + string + ' " ');
                return true;
            }

            return false;
        };

        // Add tags programmatically
        TagsInput.prototype.addData = function (array) {
            var plugin = this;

            array.forEach(function (string) {
                plugin.addTag(string);
            });
            return this;
        };

        // Get the Input String
        TagsInput.prototype.getInputString = function () {
            return this.arr.join(",");
        };

        // destroy the plugin
        TagsInput.prototype.destroy = function () {
            this.original_input.removeAttribute("hidden");

            delete this.original_input;
            var self = this;

            Object.keys(this).forEach(function (key) {
                if (self[key] instanceof HTMLElement) self[key].remove();

                if (key != "options") delete self[key];
            });

            this.initialized = false;
        };

        // Private function to initialize the tag input plugin
        function init(tags) {
            tags.wrapper.append(tags.input);
            tags.wrapper.classList.add(tags.options.wrapperClass);
            tags.original_input.setAttribute("hidden", "true");
            tags.original_input.parentNode.insertBefore(tags.wrapper, tags.original_input);
        }

        // initialize the Events
        function initEvents(tags) {
            tags.wrapper.addEventListener("click", function () {
                tags.input.focus();
            });

            tags.input.addEventListener("keydown", function (e) {
                var str = tags.input.value.trim();

                if (!!~[9, 13, 188].indexOf(e.keyCode)) {
                    e.preventDefault();
                    tags.input.value = "";
                    if (str != "") tags.addTag(str);
                }
            });
        }

        // Set All the Default Values
        TagsInput.defaults = {
            selector: "",
            wrapperClass: "tags-input-wrapper",
            tagClass: "tag",
            max: null,
            duplicate: false
        };

        window.TagsInput = TagsInput;
    })();

    document.addEventListener("DOMContentLoaded", function() {
        // Initialize TagsInput
        var tagInput1 = new TagsInput({
            selector: "input[name='tags']",
            duplicate: false,
            max: 20
        });

        // Get the initial value of the tags input field
        var initialTagsValue = document.querySelector("input[name='tags']").value;

        // Split the initial value by comma and add each tag
        if (initialTagsValue) {
            initialTagsValue.split(',').forEach(function(tag) {
                tagInput1.addTag(tag.trim());
            });
        }
    });
</script>



<script>
    document.addEventListener("DOMContentLoaded", function() {
        var textareas = document.querySelectorAll('#id_content');
        for (var i = 0; i < textareas.length; ++i) {
            CKEDITOR.replace(textareas[i].id);
            document.querySelector('#cke_notifications_area_id_content').classList.add('d-none')
        }

        const wrapper = document.querySelectorAll('.tags-input-wrapper')
        console.log(wrapper)
        wrapper[0].classList.add('d-none')
    });
</script>
{% endblock script %}
