{% extends 'frontend/inner-base.html' %}

{% load static %}


{% block title %}
<title>VSH Hospital: Excellence in Healthcare</title>
{% endblock title %}
    


{% block head %}
    <style>
        .subpage-header{
            position: relative;
        }

    </style>

	<meta name="keywords" content="Hospital overview, Mission and vision, Leadership team, Awards and recognition, Accreditation, Quality standards  Facilities," />
	<!-- / Meta Tag Manager -->

	<meta name="description" content="Visit VSH Hospital Bangalore for Excellence in Healthcare. Learn more about award-winning care, renowned specialists, &amp; advanced technology." />
	<link rel="canonical" href="https://vshhospital.com/about" />
{% endblock head %}
    


  

{% block content %}
    


    <!-- Subpage Header Start -->
    <div class="subpage-header" style="background: url(../../static/images/about.jpg); padding: 280px 0px ;background-size: cover; background-position: center;  background-repeat: no-repeat;">        
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Sub page Header start -->
                    <div class="subpage-header-box">

                    </div>
                    <!-- Sub page Header End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Subpage Header End -->


    
    <!-- rs about area start -->



    <div class="health-services">
        <div class="container">
            <div class="row section-row">

                <div class="col-md-12">
                    <!-- Section Title Start -->
                    <h3 class="text-center">About Adichunchanagiri Hospital</h3>
                    <div class="section-title">
                        <!-- First two paragraphs are visible by default -->
                        <p class="desc__txt text_justify">
                            Adichunchanagiri Hospital & Research Centre (AH & RC), located in Mandya, Karnataka, is a leading healthcare facility dedicated to serving the rural population with quality medical care. The hospital was founded with the vision of His Holiness Padmabhushana Sri Sri Sri Dr. Balagangadharanatha Maha Swamiji, who aimed to establish a high-tech institution attached to the Adichunchanagiri Institute of Medical Sciences (AIMS).
                        </p>
                        <p class="desc__txt text_justify">
                            Since its inception in 1990, AH & RC has been committed to providing preventive, curative, and rehabilitative medical services. The hospital focuses on ensuring affordable healthcare for the underprivileged. The hospital is staffed with highly qualified medical professionals and equipped with advanced technology to offer specialised treatments in Neurosurgery, Urology, Cardiology, Oncology, Nephrology, and Plastic Surgery.
                        </p>
                        <p class="desc__txt text_justify"> 
                            Among the key facilities at AH & RC is its well-equipped Blood Bank, managed by an experienced Blood Bank Officer who ensures blood donation, storage, and delivery systems are monitored to meet the needs of patients.
                        </p>
                        <p class="desc__txt text_justify">
                            The hospital operates with OPD hours from 9:00 AM to 5:00 PM, while emergency services, pharmacy, and laboratory are available 24/7.
                        </p>
                        <p class="desc__txt text_justify">
                            The hospital also provides free medical aid, including medicines, to those in need. Its Forensic Department is equipped with a modern cold storage facility for storing cadavers that require post-mortem examinations.
                        </p>

                        <div class="counter__section">
                            <div class="bx_counter">
                                <i class="fa-solid fa-bed-pulse"></i>
                                <span class="ct_counter"><span class="counter">1151</span> +</span>
                                <p>No of Beds</p>
                            </div>
                            <div class="bx_counter">
                                <i class="fa-solid fa-user-doctor"></i>
                                <span class="ct_counter"><span class="counter">45</span>K +</span>
                                <p>Treated Patients</p>
                            </div>
                            <div class="bx_counter">
                                <i class="fa-solid fa-microscope"></i>
                                <span class="ct_counter"><span class="counter">45</span> +</span>
                                <p>No of Services</p>
                            </div>
                        </div>
                    </div>
                    <!-- Section Title End -->
                </div>
            </div>
        </div>
    </div>





    <!-- Top Services Section Start -->
    <div class="top-services">
        <div class="container">
            <div class="row section-row">
                <div class="col-lg-12 col-md-12">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h2 class="text-anime-style-3 text-center">Our Vision & Mission</h2>
                    </div>
                    <!-- Section Title End -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-0 col-0"></div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Services Item Start -->
                    <div class="services-item wow fadeInUp">
                        <div class="services-img">
                            <img src="{% static 'img/icons/vis.png' %}" alt="">
                            <img class="services-icon-white" src="{% static 'img/icons/vis-white.png' %}" alt="">
                        </div>
                        <div class="services-content">
                            <h3>Our Vision</h3>
                            <p class="text_justify">
                                To educate and train students in understanding diseases, while providing quality, compassionate care to patients, & building strong doctor-patient relationships. We aim to establish Adichunchanagiri Hospital as the go-to referral centre for those in need.
                            </p>
                        </div>
                    </div>
                    <!-- Services Item End -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Services Item Start -->
                    <div class="services-item wow fadeInUp" data-wow-delay="0.25s">
                        <div class="services-img">
                            <img src="{% static 'img/icons/mission.png' %}" alt="">
                            <img class="services-icon-white" src="{% static 'img/icons/mission-white.png' %}" alt="">
                        </div>
                        <div class="services-content">
                            <h3>Our Mission</h3>
                            <p class="text_justify">
                                To offer primary and secondary healthcare services at affordable prices to those in need. We strive to provide tertiary care at reasonable costs for rural populations and promote health awareness through community-driven health programmes.
                            </p>
                        </div>
                    </div>
                    <!-- Services Item End -->
                </div>
                <div class="col-lg-2 col-md-0 col-0"></div>

            </div>
        </div>
    </div>
    <!-- Top Services Section End -->





    <!-- We Improving Section Start -->
    <div class="we-improving">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <!-- Improving Image Start -->
                        <div class="improving-img">
                            <figure class="image-anime reveal">
                                <img src="https://community.softr.io/uploads/db9110/original/2X/7/74e6e7e382d0ff5d7773ca9a87e6f6f8817a68a6.jpeg" alt="">
                            </figure>
                        </div>
                        <!-- Improving Image End -->
                    </div>
                    <div class="col-lg-6">
                        <!-- Improving Content Start -->
                        <div class="improving-content">
    
                            <!-- Improving Body Start -->
                            <div class="improving-body">
                                <div class="section-title">
                                    <h3 style="font-weight: 800;" class="text-anime-style-3">A Vision of Compassionate Service- Sri Sri Sri Dr. Balagangadharanatha Mahaswamiji</h3>
                                </div>
                            
                                <!-- First two paragraphs visible by default -->
                                <p class="wow fadeInUp text_justify mb-2">
                                    No mother should die in childbirth. No farmer should be denied medical care.” With these powerful words, Sri Sri Sri Dr. Balagangadharanatha Mahaswamiji sparked a healthcare mission rooted in compassion, equity, and spiritual service.
                                    Moved by the suffering in rural Karnataka, Mahaswamiji envisioned a hospital that served as a temple of healing—offering care without discrimination. In 1990, this vision became reality with the founding of Adichunchanagiri Hospital & Research Centre (AH & RC).
                                    Dedicated to maternal care, child health, trauma support, and holistic wellness, AH & RC stands as a testament to his belief that true healing goes beyond treatment—it involves outreach, education, and building future healthcare leaders for rural India.
                                    Even amidst challenges, Mahaswamiji remained unwavering—guided by faith, tradition, and a shared duty to serve. His legacy lives on, lighting the path toward health, dignity, and hope for all
                                </p>
                                
                            </div>
                            <!-- Improving Body End -->
                        </div>
                        <!-- Improving Content End -->
                    </div>
                </div>
            </div>
    </div>
    <!-- We Improving Section End -->
    
    <!-- We Improving Section Start -->
    <div class="we-improving bg-white">
        <div class="container">
            <div class="row align-items-center">
                
                <div class="col-lg-6">
                    <!-- Improving Content Start -->
                    <div class="improving-content">

                        <!-- Improving Body Start -->
                        <div class="improving-body">
                            <div class="section-title">
                                <h3 style="font-weight: 800;" class="text-dark text-anime-style-3">Expanding the Vision of Adichunchanagiri Hospital & Research Centre- Paramapoojya Jagadguru Sri Sri Sri Dr. Nirmalanandanatha Mahaswamiji</h3>
                            </div>
                        
                            <!-- First two paragraphs visible by default -->
                            <p class="text-dark wow fadeInUp text_justify mb-2">
                                Adichunchanagiri Hospital & Research Centre (AH & RC) was founded in 1990 by Paramapoojya Jagadguru Sri Sri Sri Dr. Balagangadharanatha Mahaswamiji, who believed, “When we serve the suffering, we serve God.” Rooted in this vision, AH & RC was established to meet the pressing healthcare needs of rural communities around Mandya.
                                What began as a modest initiative has grown into a modern, multi-specialty hospital with 20 advanced operating theatres, a 130-bed ICU, and 24/7 emergency care. Affiliated with Adichunchanagiri Institute of Medical Sciences (AIMS), we serve both rural and urban populations with compassion and inclusivity.
                                We offer holistic care, combining modern medicine with preventive services, free treatments for the underprivileged, health camps, and community outreach—staying true to our mission of healthcare as a sacred service.
                                Today, patients from even metro cities like Bangalore trust AH & RC for its expertise, affordability, and spiritual foundation. Guided by our Guru’s teachings and the blessings of Lord Kalabhairaveshwara, we remain committed to a future of healing, dignity, and hope for all.
                            </p>
                            
                        </div>
                        <!-- Improving Body End -->
                    </div>
                    <!-- Improving Content End -->
                </div>
                <div class="col-lg-6">
                    <!-- Improving Image Start -->
                    <div class="improving-img">
                        <figure class="image-anime reveal">
                            <img src="https://community.softr.io/uploads/db9110/original/2X/7/74e6e7e382d0ff5d7773ca9a87e6f6f8817a68a6.jpeg" alt="">
                        </figure>
                    </div>
                    <!-- Improving Image End -->
                </div>
            </div>
        </div>
    </div>
    <!-- We Improving Section End -->


    
    <!-- We Improving Section Start -->
    <div class="we-improving">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <!-- Improving Image Start -->
                    <div class="improving-img">
                        <figure class="image-anime reveal">
                            <img src="https://community.softr.io/uploads/db9110/original/2X/7/74e6e7e382d0ff5d7773ca9a87e6f6f8817a68a6.jpeg" alt="">
                        </figure>
                    </div>
                    <!-- Improving Image End -->
                </div>
                <div class="col-lg-6">
                    <!-- Improving Content Start -->
                    <div class="improving-content">

                        <!-- Improving Body Start -->
                        <div class="improving-body">
                            <div class="section-title">
                                <h3 style="font-weight: 800;" class="text-anime-style-3">CHIEF OF HOSPITAL - DR K.M. SHIVAKUMAR</h3>
                            </div>
                        
                            <!-- First two paragraphs visible by default -->
                            <p class="wow fadeInUp text_justify mb-2">
                                Dr. K.M. Shivakumar is a highly respected figure in Indian medicine, with over 30 years of experience in clinical practice and medical education. Currently serving as the Chief of Hospitals at Adichunchanagiri Hospital & Research Center in Bellur, Karnataka, Dr. Shivakumar is committed to providing excellent patient care and leading the hospital with expertise. He completed his MBBS from Mysore University in 1984 and went on to earn his MD in General Medicine in 1988. Furthering his education, he pursued specialized training in non-interventional cardiology at the renowned ESCORTS Heart Institute in New Delhi.
                                Dr. Shivakumar has been a passionate educator for 33 years, holding key positions such as Professor and Head of the Department of General Medicine at Mandya Institute of Medical Sciences (MIMS). He also served as Chairman of the Board of Studies for PG clinical programs at Rajiv Gandhi University of Health Sciences (RGUHS) from 2019 to 2022 and has contributed to academic bodies such as Adichunchanagiri University and the University of Mysore. His leadership in healthcare extends to administrative roles, including Medical Superintendent and Principal at MIMS.
                            </p>
                            
                        </div>
                        <!-- Improving Body End -->
                    </div>
                    <!-- Improving Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- We Improving Section End -->




    
    <!-- rts testimonials area start -->
    <div class="rts-testimonials-area rts-section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-area-center">
                        <span class="pre">Patient Testimonials</span>
                        <h2 class="title text-center">Words from Our <br> Patients</h2>
                    </div>
                </div>
            </div>
            <div class="row mt--0 g-5">
                <div class="col-lg-12">
                    <div class="swiper swiper-container-h1">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="single-testimonials-style">
                                    <div class="author-area">
                                        <a href="#" class="img">
                                            <img src="{% static 'img/user.jpg' %}" alt="testiminials">
                                        </a>
                                        <div class="info">
                                            <h6 class="name">Mr Patel</h6>
                                            <div class="stars-area">
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="disc mb-0 mt-3">
                                        Dr. Robert Thompson is an exceptional cardiologist. His ability to explain with
                                        complex medical issues in a way that's easy to understand is truly impressive.
                                    </p>
                                    <div class="shape">
                                        <img src="{% static 'frontend/assets/images/testimonials/02.png' %}" alt="service">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="single-testimonials-style">
                                    <div class="author-area">
                                        <a href="#" class="img">
                                            <img src="{% static 'img/user.jpg' %}" alt="testiminials">
                                        </a>
                                        <div class="info">
                                            <h6 class="name">Sabit Patel</h6>
                                            <div class="stars-area">
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="disc mb-0 mt-3">
                                        Dr. Robert Thompson is an exceptional cardiologist. His ability to explain with
                                        complex medical issues in a way that's easy to understand is truly impressive.
                                    </p>
                                    <div class="shape">
                                        <img src="{% static 'frontend/assets/images/testimonials/02.png' %}" alt="service">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="single-testimonials-style">
                                    <div class="author-area">
                                        <a href="#" class="img">
                                            <img src="{% static 'img/user.jpg' %}" alt="testiminials">
                                        </a>
                                        <div class="info">
                                            <h6 class="name">David Patel</h6>
                                            <div class="stars-area">
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="disc mb-0 mt-3">
                                        Dr. Robert Thompson is an exceptional cardiologist. His ability to explain with
                                        complex medical issues in a way that's easy to understand is truly impressive.
                                    </p>
                                    <div class="shape">
                                        <img src="{% static 'frontend/assets/images/testimonials/02.png' %}" alt="service">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="single-testimonials-style">
                                    <div class="author-area">
                                        <a href="#" class="img">
                                            <img src="{% static 'img/user.jpg' %}" alt="testiminials">
                                        </a>
                                        <div class="info">
                                            <h6 class="name">Morn Patel</h6>
                                            <div class="stars-area">
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="disc mb-0 mt-3">
                                        Dr. Robert Thompson is an exceptional cardiologist. His ability to explain with
                                        complex medical issues in a way that's easy to understand is truly impressive.
                                    </p>
                                    <div class="shape">
                                        <img src="{% static 'frontend/assets/images/testimonials/02.png' %}" alt="service">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts testimonials area end -->




    <div class="key___section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4>Key Facilities at Adichunchanagiri Hospital</h4>
                    <p>At Adichunchanagiri Hospital & Research Centre (AH & RC), we offer a range of essential facilities that make us one of the top healthcare providers in Karnataka. Our hospital is equipped with the following services to ensure comprehensive care for all patients:</p>
                    <div class="icon___bx">
                        <div class="bx__sm">
                            <img src="{% static 'frontend/images/time.png' %}" alt="">
                            <p>24/7 Emergency <br>Services</p>
                        </div>
                        <div class="bx__sm">
                            <img src="{% static 'frontend/images/ambulance.png' %}" alt="">
                            <p>Pharmacy <br>Open 24/7</p>
                        </div>
                        <div class="bx__sm">
                            <img src="{% static 'frontend/images/laboratory.png' %}" alt="">
                            <p>Laboratory Services <br>Available 24/7</p>
                        </div>
                        <div class="bx__sm">
                            <img src="{% static 'frontend/images/ambulance.png' %}" alt="">
                            <p>Blood Bank <br>Available</p>
                        </div>
                        <div class="bx__sm">
                            <img src="{% static 'frontend/images/ambulance.png' %}" alt="">
                            <p>Free Medical Aid  <br>for Needy Patient</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    
        

    {% include 'frontend/include/blogs.html' %}
    

    
{% endblock content %}
    


{% block script %}
    <script>
        document.querySelector('.about').classList.add('active')
    </script>

    <!-- JavaScript to handle "Read more" functionality -->
    <script>
        document.getElementById('readMoreBtn').addEventListener('click', function() {
            var moreContent = document.getElementById('moreContent');
            var btn = document.getElementById('readMoreBtn');

            if (moreContent.style.display === "none") {
                moreContent.style.display = "block";
                btn.innerHTML = "Read less";
            } else {
                moreContent.style.display = "none";
                btn.innerHTML = "Read more";
            }
        });
    </script>

    <script>
        function showMoreContentFounder() {
            var hiddenContent = document.getElementById('hiddenContentFounder');
            var btn = document.getElementById('readMoreFounder');

            if (hiddenContent.style.display === "none") {
                hiddenContent.style.display = "block";
                btn.innerHTML = "Read less";
            } else {
                hiddenContent.style.display = "none";
                btn.innerHTML = "Read more";
            }
        }

        // Add event listener to the button
        document.getElementById('readMoreFounder').addEventListener('click', showMoreContentFounder);
    </script>


    <!-- JavaScript for the unique "Read more" functionality -->
    <script>
        function showMoreContentChairperson() {
            var hiddenContent = document.getElementById('hiddenContentChairperson');
            var btn = document.getElementById('readMoreChairperson');

            if (hiddenContent.style.display === "none") {
                hiddenContent.style.display = "block";
                btn.innerHTML = "Read less";
            } else {
                hiddenContent.style.display = "none";
                btn.innerHTML = "Read more";
            }
        }

        // Add event listener to the button
        document.getElementById('readMoreChairperson').addEventListener('click', showMoreContentChairperson);
    </script>



    <!-- JavaScript for the unique "Read more" functionality -->
    <script>
        function showMoreContentPresident() {
            var hiddenContent = document.getElementById('hiddenContentPresident');
            var btn = document.getElementById('readMorePresident');

            if (hiddenContent.style.display === "none") {
                hiddenContent.style.display = "block";
                btn.innerHTML = "Read less";
            } else {
                hiddenContent.style.display = "none";
                btn.innerHTML = "Read more";
            }
        }

        // Add event listener to the button
        document.getElementById('readMorePresident').addEventListener('click', showMoreContentPresident);
    </script>
{% endblock script %}
    