{% extends 'frontend/inner-base.html' %}

{% load static %}
{% load custom_filters %}

{% block title %}
    <title>Gallery | AH Hospital</title>
{% endblock title %}


{% block head %}

    <style>
        .subpage-header{
            position: relative;
        }
        .subpage-header::after{
            width: 100%;
            height: 100%;
            position: absolute;
            content: ''; 
            left: 0;
            top: 0;
            background-color: rgba(0, 0, 0, 0.432); 
        }
        .subpage-header-box ol{
            justify-content: flex-start !important;
        }
        .subpage-header-box {
            max-width: unset !important;
            margin: unset !important;
            text-align: unset !important;
        }
    </style>
    
{% endblock head %}
{% block content %}


    <!-- Subpage Header Start -->
    <div class="subpage-header" 
    style="background: url('../../static/frontend/images/gallery-banner.jpg'); 
           padding: 100px 0px; 
           background-size: cover; 
           background-position: center; 
           background-repeat: no-repeat;">

       <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Sub page Header start -->
                    <div class="subpage-header-box">
                        <h1 class="text-anime-style-1">Gallery</h1>
                        <ol class="breadcrumb wow fadeInUp">
                            <li><a href="{% url 'homepage' %}">Home</a></li>
                            <li>Gallery</li>
                        </ol>
                    </div>
                    <!-- Sub page Header End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Subpage Header End -->




     
    <div class="tab_section mt-5 mb-5">
        <div class="container mt-3">

    
            <div class="tab_content">
                <div class="row">
                    {% for image in gallery %}
                        <div class="col-lg-4 col-md-6">
                            <div class="img_gallery_box image-anime reveal">
                                <img style="border-radius: 10px;" src="{{image.image.url}}" alt="">
                            </div>
                        </div>

    
                    {% endfor %}


                    
                    {% if gallery %}
                    {% else %}
                        <div class="col-lg-12 col-md-12">
                            <p class="empty_view mb-5">No Gallery Found</p>
                        </div>
                    {% endif %}
                    </div>
                </div>
                




            </div>
        </div>
    </div>


    {% include 'frontend/include/cta-two.html' %}
    {% include 'frontend/include/blogs.html' %}
{% endblock content %}

{% block script %}
    <script>
        document.querySelector('#gallery').classList.add('active')
    </script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
    const tabs = document.querySelectorAll(".tab");
    const tabContents = document.querySelectorAll(".tab_content_box");

    tabs.forEach(tab => {
        tab.addEventListener("click", function() {
            // Remove active class from all tabs
            tabs.forEach(t => t.classList.remove("active"));
            // Add active class to the clicked tab
            this.classList.add("active");

            // Hide all tab contents
            tabContents.forEach(content => content.classList.remove("active"));
            // Show the content corresponding to the clicked tab
            const tabId = this.getAttribute("data-tab");
            document.getElementById(tabId).classList.add("active");
        });
    });
});

</script>
{% endblock script %}