{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <title>Healthy 2025 | AH Hospital Hospital</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        
        <link rel="icon" href="{% static 'images/favicon.png' %}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'frontend/css/healthy.css' %}">

        <script src="https://kit.fontawesome.com/0c38eed82b.js" crossorigin="anonymous"></script>

        <!-- Bootstrap CSS v5.2.1 -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    </head>

    <body>
        <header>
            <div class="navbar_container">
                <div class="container">
                    <div class="nav___view">
                        <img src="{% static 'img/logo.png' %}" alt="">
                        <a href="">
                            <button class="btn___new">Contact Now</button>
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="hero_section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12" style="padding-bottom: 30px;">
                            <h1 class="mt-md-3 mt-4">A Healthier Year Ahead: Facts and Hacks for 2025</h1>
                            <p >As we are about to enter 2025, it’s the perfect time to review and renew our New Year health resolutions. Whether you are looking to boost your fitness, flaunt your muscles, improve your diet or prioritise mental wellness; understanding the latest health trends and proven strategies can help you craft the perfect resolution for a healthier year ahead. Wondering where to find all this information? Fret not, we’ve got you covered. Everything you need is right here in this one blog!</p>
                        </div>

                        <div class="img___box">
                            <img class="img-fluid" src="{% static 'img/2025.jpg' %}" alt="" class="small_myth_box-image">
                        </div>
                    </div>
                </div>
            </div>


            <div class="navbar_container ptb-100">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                        <h1 class="DM Sans___font">Debunking the Myths with No-Nonsense Facts!</h1>
                        <p class="paregrph-main DM Sans___font">There’s a surge of health myths going around, often a combination of outdated ideas and impossible health goals preached by self-proclaimed health gurus. Today let’s tackle these head-on, one myth at a time.</p>
                    </div>
                  </div>

                  <div class="row here-setion">
                    <div class="col-md-6 " style="padding-top: 30px;">
                        <div class="flex__box">
                            <div class="img_box image-2025">
                                <img src="https://img.freepik.com/free-photo/arrangement-with-different-sized-glasses-water_23-2148270427.jpg?t=st=1735039411~exp=1735043011~hmac=af60cd0a209c117132b934fd4d0763134ec08e6895eb424eea83879d344ccd6c&w=740" alt="" class="small_myth_box-image">
                            </div>
                            <div class="text_box">
                                <h5>8 Glasses of Water a Day to Keep Health Issues at Bay!</h5>
                                <p>The National Institute of Medicine has set an Adequate Intake (AI) level for total water, this level is assumed to meet the daily water requirements of an individual. However, there are a number of factors within and around you that can influence this value. So, even though 8 glasses are ideal, maybe it isn’t ideal for your body. </p>
                             
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-6" style="padding-top: 30px;">
                        <div class="flex__box">
                            <div class="img_box image-2025">
                                <img src="https://img.freepik.com/free-photo/rock-salt-cotton-pads-soap-oats-yellow-limonium-flower-cosmetics-products-white-concrete-surface_23-2148087631.jpg?t=st=1735040387~exp=1735043987~hmac=e2065f77934334db27f40992fcde7ed32f973d42aa680b2f7d2ff5080fe05e19&w=740" alt="" class="small_myth_box-image">
                            </div>
                            <div class="text_box">
                                <h5>Frozen vegetables have no nutrition!</h5>
                                <p>Frozen veggies are as nutritious as their fresh counterparts! And sometimes a little more than the fresh ones, if they are frozen right after the harvest.</p>
                             
                            </div>
                        </div>
                        
                    </div>
                    
                    <div class="col-md-6" style="padding-top: 30px;">
                        <div class="flex__box">
                            <div class="img_box image-2025">
                                <img src="https://img.freepik.com/premium-photo/nature-fitness-woman-athlete-running-mountain-road-race-marathon-competition-training-sports-exercise-female-person-with-cardio-workout-misty-outdoor-woods-forest_590464-293885.jpg?w=740" alt="" class="small_myth_box-image">
                            </div>
                            <div class="text_box">
                                <h5>10,000 steps a day: Benchmark for good health!</h5>
                                <p>There is no scientifically proven ‘magic number’ to be fit and healthy. However, the underlying truth is, everyone needs some kind of moderate to rigorous exercise to stay fit and healthy. This depends on age, lifestyle and overall health of an individual.</p>
                             
                            </div>
                        </div>
                        
                    </div>
                    

                    <div class="col-md-6" style="padding-top: 30px;">
                        <div class="flex__box">
                            <div class="img_box image-2025">
                                <img src="https://img.freepik.com/premium-photo/picture-girl-with-picture-pancake-with-words-eat-it_1112423-3625.jpg?w=740" alt="" class="small_myth_box-image">
                            </div>
                            <div class="text_box">
                                <h5>Low fat or no fat is the way to a healthy life!</h5>
                                <p>The National Institute of Medicine has set an Adequate Intake (AI) level for total water. Factors around you may influence this value, making the ideal amount personal.</p>
                             
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-8" style="padding-top: 30px;">
                        <div class="flex__box">
                            <div class="img_box image-2025">
                                <img src="https://img.freepik.com/free-photo/spa-body-care-accessories-wooden-box-colored-background_169016-6174.jpg?t=st=1735198161~exp=1735201761~hmac=24da33ea35289497eca5e3b48598044eebd2994fb43db3d7f4a5207f0c12c924&w=740" alt="" >
                            </div>
                            <div class="text_box">
                                <h5>Organic Products = Natural Products!</h5>
                                <p>Although organic and natural are used synonymously by the masses, they are actually two different things. When a product has the label ‘natural’ on it, it indicates the product being devoid of artificial colours, preservatives etc; whereas organic means the food has been produced without synthetic pesticides or fertilizers.</p>
                             
                            </div>
                        </div>
                        
                    </div>
                    
                </div>

             
                </div>
             </div>

            <div class="myth__section main-healthcare">
                <div class="container">
                    <div class="col-md-12" style="padding-bottom: 30px; text-align: center;">
                        <h1 class="DM Sans___font" style="padding-top: 30px;">A Healthier Year Ahead: Facts and Hacks for 2025</h1>
                       
                    </div>
                    
                <div class="row main-syle">
                    <div class="col-md-4">
                        <div class="small_myth_box">
                            <img src="https://img.freepik.com/free-photo/expressive-young-lady-posing-studio_176474-73943.jpg?t=st=1735198347~exp=1735201947~hmac=57b9c04fd840d5599c0f5c5d9ec7599f8867ff5ab7907b62ec28fd39265676a9&w=900" alt="Glass of water" />
                            <div class="content">
                                <h4>Feed Your Gut Microbiome</h4>
                                <p>There is no scientifically proven ‘magic number’ to be fit and healthy. However, the underlying truth is, everyone needs some kind of moderate to rigorous exercise to stay fit and healthy. This depends on age, lifestyle and overall health of an individual.</p>
                            </div>
                        </div>
                        
                                
                    </div>
                    <div class="col-md-4">
                        <div class="small_myth_box">
                            <img src="https://img.freepik.com/free-photo/front-view-cute-boy-white-t-shirt-looking-into-brown-coffee-seeds-stone-colored-floor_179666-921.jpg?t=st=1735198389~exp=1735201989~hmac=853f7957856e5f861ca27028cd125f956d4d7f2f26631da6f45819a87098680a&w=900" alt="Glass of water" />
                            <div class="content">
                                <h4>Moderate consumption of coffee is good.</h4>
                                <p>Coffee is a rich source of anti-oxidant. Some studies have shown its link to longevity and reduced risk of Type 2 diabetes. Coffee although good, needs to be consumed in moderate amounts as any more than normal can cause insomnia, heart palpitations and other health issues.</p>
                            </div>
                        </div>
                        
                                
                    </div>
                    <div class="col-md-4">
                        <div class="small_myth_box">
                            <img src="https://img.freepik.com/free-photo/chicken-eggs-with-eggshells-wooden-platter_114579-37702.jpg?t=st=1735198471~exp=1735202071~hmac=15ce486ebbebdfe23217245bd1b719458a5fd89316b5e06b2558409687cc19f5&w=900" alt="Glass of water" />
                            <div class="content">
                                <h4>Whole eggs are generally more nutritious than egg whites</h4>
                                <p>Here’s a truth bomb for you: Many low-fat foods sneak in carbohydrates from sugars to compensate for the lost fat, making it less healthy. It’s important to add ‘good’ fats to your diet and ‘avoid’ bad fats. So, go grab yourself a freshly made avocado sandwich with some olive oil tossed veggies and peanuts on the side!</p>
                            </div>
                        </div>
                        
                                
                    </div>

                    <div class="col-md-4">
                        <div class="small_myth_box">
                            <img src="https://img.freepik.com/free-photo/high-angle-flexitarian-diet-food-assortment_23-2148955548.jpg?t=st=1735198578~exp=1735202178~hmac=cf0435baad60fc1fee1d9187a32595239378d9592e751673fb52b67d240ef5cc&w=900" alt="" >
                            <div class="content">
                                <h5>Choose complex carbs over the refined ones</h5>
                                <p>Refined carbs are highly processed, stripping away their fiber and essential nutrients, making them less beneficial for your body. When consumed in excess, these carbs can contribute to overeating, weight gain, and other health issues. Opting for complex, unprocessed carbs instead can provide more nutrients and support better health.</p>
                            </div>
                        </div>
                        
                                
                    </div>
                    
                </div>
                </div>
            </div>
        </main>

        <footer class="ptb-100">
            <!-- place footer here -->
            <div class="footer-main">
             <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-col-md">
                        <img src="{% static 'images/white-logo.png' %}" alt="" srcset="" style="width: 266px;">
                        <p class="footer-main-heading">Vydehi Superspeciality Hospital (VSH) offers comprehensive, world-class healthcare with advanced technology, expert care, and personalized treatment, serving both local and international patients.</p>
                
                        <div>
                            <i class="fa-brands fa-facebook footer-main-ooter-col-mdi"></i>
                            <i class="fa-brands fa-instagram footer-main-ooter-col-mdi"></i>
                            <i class="fa-brands fa-square-youtube footer-main-ooter-col-mdi"></i>
                            <i class="fa-brands fa-linkedin footer-main-ooter-col-mdi"></i>
                        </div>
                    </div>
                    <div class="col-md-4 footer-col-md">
                        <h4>Find Us on Map</h4>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.059195306046!2d77.59249277377592!3d12.968063987346975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1677e83810b3%3A0x57833242f73501e6!2sVSH%20Hospital!5e0!3m2!1sen!2sin!4v1735194331314!5m2!1sen!2sin" width="250" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="footer-main-heading "
                        ></iframe>
                    </div>
                    <div class="col-md-4 footer-col-md">
                        <h4>Contact Us</h4>
                        <div class="footer-main-heading">
                            <div class="icon-text ">
                                <i class="fa-solid fa-phone footer-main-ooter-col-mdi"></i>
                                <h6>9999999999</h6>
                            </div>
                            <div class="icon-text ">
                                <i class="fa-solid fa-envelope footer-main-ooter-col-mdi"></i>
                                <h6>info@vshospitals.com.</h6>
                            </div>
                            <div class="icon-text ">
                                <i class="fa-solid fa-location-dot footer-main-ooter-col-mdi"></i>
                                <h6>#2 Vittal Mallya Road, Ashok Nagar, Bengaluru, Karnataka 560001</h6>
                            </div>
                        </div>  
                    </div>
                </div>
                 


                <div class="footer-buttom" >
                 <h6>© 2025 VSH Hospital. All Rights Reserved</h6>
                 <h6>Designed & Developed by thinkB</h6>

                </div>
             </div>
            </div>
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
