{% extends 'frontend/inner-base.html' %}

{% load static %}


{% block title %}
    <title>International Patient | AH Hospital</title>
{% endblock title %}
    


{% block head %}
    <style>
        .subpage-header{
            position: relative;
        }
        .subpage-header::after{
            width: 100%;
            height: 100%;
            position: absolute;
            content: ''; 
            left: 0;
            top: 0;
            background-color: rgba(0, 0, 0, 0.432); 
        }
        .subpage-header-box ol{
            justify-content: flex-start !important;
        }
        .subpage-header-box {
            max-width: unset !important;
            margin: unset !important;
            text-align: unset !important;
        }
    </style>
    
{% endblock head %}


{% block content %}
    

        <!-- Subpage Header Start -->
        <div class="subpage-header" 
        style="background: url('../../static/frontend/images/appointment-banner.jpg'); 
               padding: 85px 0px; 
               background-size: cover; 
               background-position: center; 
               background-repeat: no-repeat;">
    
           <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Sub page Header start -->
                        <div class="subpage-header-box d-flex justify-content-center align-items-center flex-column">
                            <h1 class="text-anime-style-1 text-center">Information on Medical Visa</h1>
                            <ol class="breadcrumb wow fadeInUp mt-3">
                                <li><a href="{% url 'homepage' %}">Home</a></li>
                                <li>International Patient</li>
                            </ol>
                        </div>
                        <!-- Sub page Header End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Subpage Header End -->




    <div class="privacy_policy">
        <div class="container">
            <h4 class="text-anime-style-1">Information On Medical VISA: Your Gateway to Healthcare at VSH Hospital</h4>



            <h6 class="text-anime-style-3">Navigating Medical VISA</h6>
            <p>Embarking on a journey for medical treatment is a significant decision, and obtaining a medical visa is often the first step. At VSH Hospital, we understand the complexities and challenges that come with this process. Our International Patient Services team is here to provide you with comprehensive support and guidance to navigate the medical visa process with ease.</p>
        
            <h6 class="text-anime-style-3">Why Choose VSH Hospital?</h6>
        
            <h6 class="text-anime-style-3">Expert Guidance</h6>
            <p>Our experienced consultants specialize in assisting international patients with medical visa applications. They possess in-depth knowledge of the requirements and procedures involved and will provide you with expert advice and support every step of the way. From preparing the necessary documentation to liaising with relevant authorities, our team will ensure that your medical visa application is handled efficiently and accurately.</p>
        
            <h6 class="text-anime-style-3">Streamlined Process</h6>
            <p>We understand that navigating the medical visa process can be overwhelming, especially when you’re dealing with health concerns. That’s why we’ve streamlined our procedures to make the process as smooth and hassle-free as possible for our patients. Our team will take care of all the paperwork and logistics, allowing you to focus on preparing for your treatment without unnecessary stress or worry.</p>
        
            <h6 class="text-anime-style-3">Personalized Assistance</h6>
            <p>At VSH Hospital, we recognize that every patient’s situation is unique. Whether you require special accommodations or additional support during the visa application process, our team is dedicated to providing personalized assistance tailored to your specific needs. We’ll work closely with you to understand your requirements and ensure that your experience with us is as comfortable and stress-free as possible.</p>
        
            <h6 class="text-anime-style-3">Timely Support</h6>
            <p>We understand the importance of timely access to healthcare, especially when you’re facing medical issues. That’s why we prioritize efficiency and timeliness in our services, including the processing of medical visa applications. Our goal is to ensure that your application is handled promptly and efficiently so that you can receive the care you need without unnecessary delays.</p>
        
            <h6 class="text-anime-style-3">Your Gateway to Healthcare</h6>
            <p>Don’t let the complexities of medical visa applications stand in the way of accessing world-class healthcare at VSH Hospital. Contact our International Patient Services team today to learn more about how we can assist you in obtaining your medical visa and accessing the care you need.</p>
        
            <p>Experience the Ease. Experience VSH Hospital.</p>
            <p>Contact our International Patient Services team today to start your journey to better health.</p>
        
        
        </div>
    </div>


    
    <div class="career_application">
        <div class="container">
            <form id="applicationForm" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <h5>Fill the details for further assistance</h5>
                    <div class="col-md-12">
                        <input type="text" name="name" placeholder="Full Name" required>
                    </div>
                    <div class="col-md-6">
                        <input type="email" name="email" placeholder="Email" required>
                    </div>
                    <div class="col-md-6">
                        <input type="tel" name="number" placeholder="Phone Number including country code" required>
                    </div>
                    <div class="col-md-12">
                        <textarea name="message" placeholder="Message (Optional)"></textarea>
                    </div>
                    <div class="col-md-12">
                        <span>Passport</span>
                        <input type="file" name="passport" id="resume" required>
                    </div>
                    <div class="col-md-12">
                        <span>Visa (Optional)</span>
                        <input type="file" name="visa" id="visa">
                    </div>
                    <div class="col-md-12">
                        <span>Medical Documents (Optional)</span>
                        <input type="file" name="medical_documents" id="medical-documents">
                    </div>
                    <div class="col-md-12">
                        <button type="submit">Submit Application</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    
    {% include 'frontend/include/cta.html' %}

    {% include 'frontend/include/blogs.html' %}


    
{% endblock content %}
    


{% block script %}
<script>
    document.getElementById('international_patient').classList.add('active')
</script>



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>
    document.getElementById('applicationForm').addEventListener('submit', function(event) {
        event.preventDefault();  // Prevent the default form submission
        
        // Prepare form data
        let formData = new FormData(this);
        
        // Send AJAX request
        fetch("{% url 'api_create_message' %}", {
            method: 'POST',
            body: formData,
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        .then(response => {
            if (!response.ok) throw response;
            return response.json();
        })
        .then(data => {
            if (data.message) {
                Swal.fire({
                    icon: 'success',
                    title: 'Success!',
                    text: data.message
                }).then(() => {
                    document.getElementById('applicationForm').reset();  // Clear the form
                });
            }
        })
        .catch(async (errorResponse) => {
            let errorText = "An error occurred. Please check your inputs.";
            if (errorResponse.status === 400) {
                const errorData = await errorResponse.json();
                errorText = Object.values(errorData).flat().join("\n");
            }
            Swal.fire({
                icon: 'error',
                title: 'Error!',
                text: errorText
            });
        });
    });
</script>

{% endblock script %}
    