
{% load static %}
  <!-- request appoinment area start -->
  <div class="request-appoinment-area">
    <div class="container-full">
        <div class="row">
            <div class="col-lg-12">
                <div class="request-appoinemnt-area-main-wrapper radious-0 bg_image rts-section-gap">
                    <span class="pre">Book Appointment</span>
                    <h2 class="title">
                        Request Your Appointment
                    </h2>
                    <a href="{% url 'frontend_doctors' %}" class="rts-btn btn-primary">Get Appointment</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- request appoinment area end -->