{% load static %}


    <!-- header area start -->
    <!-- rts footer area start -->
    <div class="rts-footer-area footer-bg pt--50 pt_sm--50">
        <div class="container">
            <div class="row">

                <div class="col-lg-12">
                    <div class="footer-wrapper-style-between row">
                        <div class="single-wized col-md-3">
                            <a href="#" class="logo">
                                <img style="width: 75%;" class="img-fluid" src="{% static 'img/logo.png' %}" alt="logo">
                            </a>
                            <div class="body mt-3">
                                <p class="location">
                                    Adichunchanagiri Hospital, a leading healthcare facility in Mandya, Karnataka, is dedicated to delivering holistic care at nominal fees, ensuring accessible treatment for the underprivileged and those in need. Equipped with state-of-the-art infrastructure, the hospital offers a wide range of speciality and super-speciality services.
                                </p>
                                <a href="#">ahrc@acu.edu.in</a>
                                <a href="#">+91 9900758946</a>
                            </div>

                            <div class="follow text-white d-flex gap-3">
                                <i class="fa-brands fa-facebook"></i>
                                <i class="fa-brands fa-linkedin"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-youtube"></i>
                            </div>
                        </div>
                        <div class="single-wized col-md-3 second___one">
                            <h6 class="title">Quick Links </h6>
                            <div class="body">
                                <ul class="nav-bottom" >
                                    <li><a href="{% url 'homepage' %}">Home</a></li>
                                    <li><a href="{% url 'about' %}">About Us</a></li>
                                    <li><a href="{% url 'services' %}">Our Departments </a></li>
                                    <li><a href="{% url 'frontend_doctors' %}">OUr Doctors</a></li>
                                    <li><a href="{% url 'frontend_blogs' %}">Latest Blogs</a></li>
                                    <li><a href="{% url 'frontend_health_checkups' %}">Health Checkups</a></li>
                                    <li><a href="{% url 'gallery_frontend' %}">Latest Gallery</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-wized col-md-3">
                            <h6 class="title">Useful Links</h6>
                            <div class="body">
                                <ul class="nav-bottom">
                                    <li><a href="{% url 'frontend_careers' %}">Careers</a></li>
                                    <li><a href="{% url 'terms' %}">Terms & Condition</a></li>
                                    <li><a href="{% url 'privacy' %}">Privacy Policy </a></li>
                                    <li><a href="{% url 'insurance' %}">AH Schemes, Insurance</a></li>
                                    <li><a href="{% url 'patient' %}">Patient Rights & Responsibilities</a></li>
                                    <li><a target="_blank" href="https://ah.bgsaims.edu.in/Chet/login">HIMS</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="single-wized col-md-3">
                            <h6 class="title">Location</h6>
                            <iframe class="iframe___view" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.08962459299!2d76.71846267500483!3d12.966116587348777!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bafeed8337c4a97%3A0x66ef0c5e16989523!2sAdichunchanagiri%20hospital%20and%20Research%20centre!5e0!3m2!1sen!2sin!4v1743854981773!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-area-inner d-flex justify-content-between">
                        <p>© 2025 Adichunchanagiri Hospital. All Rights Reserved</p>
                        <p>Designed & Developed by<a target="_blank" href="https://thinkb.agency">thinkB</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts footer area end -->
    <!-- header area end -->

