{% load static %}


    <!-- header area start -->
    <!-- rts footer area start -->
    <div class="rts-footer-area footer-bg pt--50 pt_sm--50">
        <div class="container">
            <div class="row">

                <div class="col-lg-12">
                    <div class="footer-wrapper-style-between row">
                        <div class="single-wized col-md-3">
                            <a href="#" class="logo">
                                <img style="width: 75%;" class="img-fluid" src="{% static 'img/logo.png' %}" alt="logo">
                            </a>
                            <div class="body mt-3">
                                <p class="location">
                                    Adichunchanagiri Hospital, a leading healthcare facility in Mandya, Karnataka, is dedicated to delivering holistic care at nominal fees, ensuring accessible treatment for the underprivileged and those in need. Equipped with state-of-the-art infrastructure, the hospital offers a wide range of speciality and super-speciality services.
                                </p>
                                <a href="#">ahrc@acu.edu.in</a>
                                <a href="#">+91 9900758946</a>
                            </div>
                        </div>
                        <div class="single-wized col-md-3 second___one">
                            <h6 class="title">Quick Links </h6>
                            <div class="body">
                                <ul class="nav-bottom" >
                                    <li><a href="{% url 'homepage' %}">Home</a></li>
                                    <li><a href="{% url 'about' %}">About Us</a></li>
                                    <li><a href="{% url 'services' %}">Our Services </a></li>
                                    <li><a href="{% url 'frontend_doctors' %}">OUr Doctors</a></li>
                                    <li><a href="{% url 'frontend_blogs' %}">Latest Blogs</a></li>
                                    <li><a href="{% url 'frontend_health_checkups' %}">Health Checkups</a></li>
                                    <li><a href="{% url 'gallery_frontend' %}">Latest Gallery</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-wized col-md-3">
                            <h6 class="title">Useful Links</h6>
                            <div class="body">
                                <ul class="nav-bottom">
                                    <li><a href="{% url 'frontend_careers' %}">Careers</a></li>
                                    <li><a href="{% url 'facilities' %}">Special Services</a></li>
                                    <li><a href="{% url 'terms' %}">Terms & Condition</a></li>
                                    <li><a href="{% url 'privacy' %}">Privacy Policy </a></li>
                                    <li><a href="{% url 'insurance' %}">AH Schemes, Insurance & TPA Details</a></li>
                                    <li><a href="{% url 'patient' %}">Patient Rights & Responsibilities</a></li>
                                    <li><a href="{% url 'patient_feedback' %}">Patient Feedback system</a></li>
                                    <li><a target="_blank" href="https://ah.bgsaims.edu.in/Chet/login">HIMS</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="single-wized col-md-3">
                            <h6 class="title">Working Time</h6>
                            <div class="body">
                                <p class="location">
                                    Mon - Fri: 9.00am - 5.00pm
                                </p>
                                <p class="location">
                                    Saturday: 10.00am - 6.00pm
                                </p>
                                <p class="location">
                                    Sunday Closed
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-area-inner">
                        <p>© 2025 Adichunchanagiri Hospital. All Rights Reserved by <a target="_blank" href="https://thinkb.agency">thinkB</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts footer area end -->
    <!-- header area end -->

